.gallery {
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
  max-height: 100%;
  overflow: hidden;
  margin-top: 5%;

  h2 {
    margin: 3% 0;
  }
}
.my-gallery {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-column-gap: 8px;

  @include media('<=bigmobile') {
    grid-template-columns: repeat(2,150px);
  }
  }
  .my-gallery img {
    width: 100%;
    height: auto;
  }
  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
  }
  .my-gallery figcaption {
    display: none;
  }