html,body {
    position: relative;
    height: 100%;
}
.container {
    width: 100%;
    min-height:91%; 
}

.home-bottom {
    display: grid;
    grid-template-columns: 50% 50%;

    @include media('<=bigmobile') {
        grid-auto-flow: row;
    }
}

    .home-top__left,.home-bottom__right {
        background-color: #F3F0EA;
        height: 50vh;
        display: grid;
        align-items: center;
        justify-items: center;

        .content {
            padding: 0 15%;

            @include media('<=smalltab') {
                padding: 0 10%;
            }


            .header {
                margin: 2em;

                @include media('<=smalltab') {
                    margin: 1em;
                }
            }

            p {
                font-size: 1.5em;
                line-height: 1.4;
                color: rgba(0,0,0,0.7);

                @include media('<=smalltab') {
                    font-size: 1.2em;
                }
            }
        }
}



.home-top__right {
        background-image: url(../img1/7.jpg);
        background-size: cover;
        grid-area: top-right;

        @include media('<=bigmobile') {
            height:40vh;
        }
    }
.home-bottom__left {
        background-image: url(../img1/1.jpg);
        background-size: cover;
        grid-area: bottom-left;
    }
.home-top__left {
    grid-area: top-left;

    @include media('<=bigmobile') {
        height: auto;
        padding: 7vh 1vh;
    }
}
.home-bottom__right {
    grid-area: bottom-right;
}

.home-top {
    grid-template-areas: "top-left top-right";
    @include media('<=bigmobile') {
        grid-template-columns: 100%;
        grid-template-areas: "top-left"
                               "top-right";
    }
}

.home-bottom {
    grid-template-areas: "bottom-left bottom-right";

    @include media('<=bigmobile') {
        grid-template-columns: 100%;;
        grid-template-areas: "bottom-right";
    }
}


nav {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: 2%;
    width: 100%;
    background: #FFF;
    box-shadow: 0 0px 15px #c0c0c0;
    transition: all 1s ease-in-out;
    z-index: 10;

    grid-template-areas: "logo navigation telephone";

    @include media('<=smalltab') {
        grid-template-areas: "logo navigation";
    }

    @include media('<=bigmobile') {
        grid-template-areas: "logo mobile-menu"
            "navigation navigation";
    }

    .toggle {
        max-height: 300px;
        transition: max-height 0.5s ease-out;
    }

    .logo {
        grid-area: logo;
    }

    h1 {
        font-size: 2em;
        font-weight: 600;
        color: #F36621;

        @include media('<=bigtab') {
            font-size: 1.8em;
        }
        @include media('<=smalltab') {
            font-size: 1.4em;
        }
    }

    h4 {
        font-size: 1.2em;
        color: rgba(0, 0, 0, .5);

        @include media('<=bigtab') {
            font-size: 1em;
        }
    }

    .mobile-menu {
        display: none;
        grid-area: mobile-menu;

        .nav-burger__line {
            width: 26px;
            height: 2px;
            background-color: #000;
            display: block;
            margin: 5px auto;
            transition: all 250ms ease-in-out;
        }

        @include media('<=bigmobile') {
            display: block;
        }
    }

    ul {
        justify-self: end;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        grid-area: navigation;

        @include media('<=bigmobile') {
           grid-auto-flow: row;
           justify-self: start; 
           width: 100%;
           margin-top: .6em;
           max-height: 0;
           overflow: hidden;
           transition: max-height 0.5s ease-out;
        }

        li {

            margin: 0 2em;

            @include media('<=bigtab'){
                margin:0 1em;
            }

            @include media('<=bigmobile') {
                border-top: 1px solid rgba(0,0,0,0.3);
                padding: 0.5em;
                width: 100%;
            }

            a {
                text-decoration: none;
                color: #0c0c0c;
                text-transform: uppercase;
                font-family: "Verdana", sans-serif;
                font-weight: 300;

                @include media('<=bigmobile') {
                    width: 100%;
                    display: block;
                    transition: padding-left 0.2s linear;
                }

                &:hover {
                    color: #F36621;

                    @include media('<=bigmobile') {
                        padding-left: 0.5em;
                        border-left: 2px solid #F36621;
                    }
                }
            }
            a.active {
                color: #F36621;
                border-bottom: 2px solid #F36621;
                font-weight: bold;

                @include media('<=bigmobile') {
                    border-bottom: none;
                    padding-left: 0.5em;
                    border-left: 2px solid #F36621;
                }
            }
        }
    }

    .tel-no {
        justify-self: end;
        grid-area: telephone;

        @include media('<=smalltab') {
            display: none;
        }

        a {
            text-decoration: none;
                color: #0c0c0c;
                position: relative;
                display: block;
            &:before {
                content: '';
                display: block;
                height: calc(100% - 8px);
                width: 3px;
                position: absolute;
                left: -12px;
                top: 6px;
                background-color: #F36621;
            }

            strong {
                display: block;
                font-weight: bold;
            }
        }

    }

}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #F36621;
}

.open .nav-burger__line:nth-child(3) {
    transform: translateY(-9px) rotate( -45deg);
}

.open .nav-burger__line:nth-child(1) {
    transform: translateY(5px) rotate( 45deg);
}
.open .nav-burger__line:nth-child(2) {
    opacity: 0;
}